@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --body-font: 'Poppins', sans-serif;
}

body {
    font-family: var(--body-font);
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 20px;
}

.navbar-brand img {
    width: 65%;
}

.custom-signup {
    padding: 5px 28px;
    border-radius: 12px;
}

.custom-login {
    background-color: #6B86EA;
    padding: 5px 28px;
    border-radius: 12px;
}

.custom-login:hover {
    background-color: #6B86EA;
}

.custom-img-footer {
    margin-bottom: 13px; 
    margin-top: 74px;
}

.custom-logo-footer {
    width: 25px;
}